
#ui { background-color: #f0f7ff; padding: 2em; border: 1px solid #bdf; }
#ui.wrong { background-color: #fff0f0; border: 1px solid #fbb; }
#ui.right { background-color: #f0fff0; border: 1px solid #bfb; }


* {  font-family: sans; }

#root {
  height: 100vh;
  display: grid;
  place-items: center center;
 }

body { margin: 0px; }
